[% prepare_component_begin() %]
[% INCLUDE normalprep.tt %]
[% prepare_component('main',undef,'main,verbose') %]
[% prepare_component_end() %]
[% WRAPPER normal.tt %]
[% WRAPPER struct0.tt %]
[% without_heading(component_html('main',undef,'main,verbose')) %]
[% END %]
[% END %]
