/* -------------------- */
/* CONNOTEA STYLE SHEET */
/* -------------------- */

/* ----------- */
/* basic stuff */
/* ----------- */
body {font-family: verdana, sans-serif; font-size: 75%;}

span.cleardiv {display:block !important; clear:both !important; padding:0 !important; margin:0 !important;}
.hidden {display: none;}
code {font-size: 130%;}
p { margin: 0 0 5px;}
p.signup {margin: 15px 0;}

/* -------- */
/* headings */
/* -------- */

h1 {font-size: 200%; margin: 0 0 10px; padding: 0;	font-family: "Trebuchet MS", sans-serif;}
h2 {font-size: 170%; margin: 10px 0 10px; padding: 0;	font-family: "Trebuchet MS", sans-serif; color: #41637b;}
div.importantsidenote {border: 1px dashed silver; margin: 8px 0; padding: 8px;}
div.importantsidenote h2 {margin-top: 0;}
div.importantsidenote h3 {margin-top: 0;}

/* ------------------ */
/* button-style links */
/* ------------------ */
a.buttonlink {font-family: "trebuchet ms", sans-serif; font-size: 150%; padding: 2px 5px; margin-top: 5px;}
a.buttonlink:link, a.buttonlink:visited {background: #c51f33; color: white; text-decoration: none;}
a.buttonlink:hover {background: #41637b; text-decoration: underline;}

/* -------------- */
/* ordinary links */
/* -------------- */
a {color: #c51f33; text-decoration:underline;}
a:visited {	color: purple; text-decoration:underline;}
a:hover {color: red; text-decoration:underline;}

/* ----------------- */
/* registration form */
/* ----------------- */

form.compform {margin: 20px 0 20px 0; padding: 0;}
fieldset {margin-bottom: 15px; padding: 10px;}
fieldset p {margin: 0 0 1em;}
fieldset legend {font-family: "trebuchet ms"; font-size: 160%; border: 1px solid #888; padding: 2px 5px; margin-bottom: 10px; background: white; color: #325a74;}
fieldset label {font-weight: bold; float: left; width: 12em;}
fieldset.haserrors{background: #c51f33;}
fieldset label.haserrors{color: white;}
fieldset p.errorlabel {color: white;}
input.submitbutton {margin-left: 9em; color: white; background: #c51f33; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 150%; border: 0;}
input.download-button {margin-right: 1em; color: white; background: #c51f33; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 150%; border: 0;}

/* ------- */
/* biglist */
/* ------- */

ol.biglist {margin: 0; padding: 0 0 0 3em;}
ol.biglist li {padding: 0; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 160%; color: #41637b;}
ol.biglist li img.img-right-instructions {float: right; padding-left: 20px;}
ol.biglist li h2 {font-size: 100%; margin: 0 0 10px;padding: 0;}
ol.biglist li p {font-size: 65%; line-height: 1.4; font-weight: normal; font-family: verdana, sans-serif; color: black; margin-right: 250px;}

/* ---------- */
/* stage list */
/* ---------- */

ol.stagelist {list-style: none; margin: 10px 0; padding: 0;}
ol.stagelist img {margin: 10px 0;}
ol.stagelist li {border: 1px solid #eaeaea; margin-top: 20px; margin-bottom: 25px;}
ol.stagelist h3 {font-family: "Trebuchet MS", sans-serif; font-size: 140%; font-weight: normal; background: #f3f3f3; margin: 0;	padding: 2px 5px;}
ol.stagelist ol {padding-top: 10px; padding-bottom: 10px; list-style: lower-latin;}
ol.stagelist ol li {border: 0; font-weight: bold; margin-top: 0; margin-bottom: 5px;}
ol.stagelist ol li p {font-weight: normal;}

/* -------------------------------- */
/* list at top of bulleted document */
/* -------------------------------- */

ul.indexlist {margin: 0 0 10px; padding: 0; list-style: none;}
ul.indexlist ul {margin: 0;}
ul.indexlist li {padding: 0; margin-bottom: 5px; list-style: none;}
ul.indexlist li a:link, ul.indexlist li a:visited {color: #c51f33; text-decoration: underline;}
ul.indexlist li a:hover {color: red; text-decoration: underline;}
ul.indexlist li.noarrow {background: none;}

/* ----------------
HEADER
------------------- */

/*----------- Search Bar ----------------*/
#searchbar {position:absolute; top:0; right:0; text-align:right; margin:0; padding: 8px; background:#dddddd;}
#searchbar p {display: inline;}
#searchbar p.searchlink {margin:0 10px 0 0; padding:0; font-weight: bold;}
#searchbar form {display:inline;}

/*----------- Top Menu ----------------*/

#nav {height:40px}
#nav a {color:black}

/* ------ */
/* footer */
/* ------ */

#footer {margin-top:30px}
#footer a {color:black}

/* --------------- */
/* se landing page */
/* --------------- */

#se-landing {padding:0px; background:#F2F3F7; padding:5px; height:14em; margin:0 0 2px 0;}
#se-landing .se-title {font-size:160%;	font-family: verdana, sans-serif; font-weight: bold;color:#c51f33; margin-bottom:20px;}
#se-landing .subtitle {font-size:140%;	font-family: verdana, sans-serif; font-weight: bold;}
#se-landing .left {width:48%; float:left;}
#se-landing .right {width:48%; float:right;}
#se-landing .right .se-subhead {font-weight:bold; font-size:120%;}
#se-landing .right ul li {margin-bottom:5px;}
