/* site guide */

#beginners-screencast { width: 380px; text-align: right; padding: 10px; float: left }
#building-and-managing { float: left; margin-left: 30px }
#building-screencast { text-align: right; width: 220px; padding: 10px; margin-bottom: 10px }
#managing-screencast { text-align: right; width: 220px; padding: 10px }
.film-screenshot { border: 1px solid black; float: left }
.film-caption-heading { font-size: 20px; color: #c03; font-weight: bold }
.film-caption-title { font-size: 16px; color: #97A9B7 }
.film-duration { font-style: italic; color: gray; padding: 5px }
.film-formats-large { font-size: 14px; padding: 5px; text-align: left }
.film-formats { padding: 5px; text-align: left }

/* code */

.code { font-family: monospace; color: #333399; } 
p.code { border: 1px dotted #333399; padding:5px; margin: 5px; }
pre { font-family: monospace; color: #333399; border: 1px dotted #333399; padding:5px; margin: 5px; }

/* wiki */

.wikifooter { background:#D6DDE3; border:2px solid #fff; margin:0 10px 8px 10px; padding:4px;}
.wikipreviewclose { margin: 10px 0px 15px 0px }
.wikipreview { background: #FFF8DC; margin: 0px 10px 10px 0px; padding: 10px; border: 1px solid #D9E1E8 }
.wikisystem { margin: 0px 10px 8px 0px; padding: 4px; border: 0; background: #EEEEEE }
.wikidunno { color: silver; border: 1px solid silver; margin: 2px; padding: 1px }
.wikiedithelppre { font-size: 12px }
#wikicontentbox { width: 720px; padding: 4px; font-size: 12px }
.wikidifftable { width: 100% }
.wikidifftable .diffhead { background: #EEEEEE }
.wikidifftable .diffcell { width: 50%; vertical-align: top }
.wikidifftable .diff1 { background: #FFDDDD; }
.wikidifftable .diff2 { background: #DDFFDD; }
.wikireferent { font-size: 13px; margin: 0 10px 10px 10px; padding: 4px; background: #FFFFFF }
.wikicontrols { font-size: 13px; margin-bottom: 4px }
.wikiwrapper { position: relative }
.wikibody { position: relative; z-index: 0; background:#fff; margin:0 10px; padding:2px 10px;}
.wikibody p { font-size: 12px; line-height: 16px;}
.wikibody h1 {margin: 0 -8px 8px -8px; padding:4px 8px; font-weight:normal; background:#41637C; line-height:26px; font-size:150%; color:#fff;}
.wikibody h1 a { color: white; }
.wikibody h1 a:visited { color: white; }
.wikisidebar h2 {margin:0 -5px 10px -5px; padding: 4px 8px; font-size:120%; color:#486273; border:0; background:#B4C1CA; line-height:26px;}
h2.wikisidebarh2notfirst { margin-top: 10px }
.wikibody h2 { margin: 2px 10px 8px 0px; padding: 4px; font-size: 12px; font-weight: bold; color: #233155; border-bottom: 2px solid #D9E0E8;  background: white;}
.wikibody h3 { margin: 2px 10px 8px 0px; padding: 4px; font-size: 12px; font-weight: bold;  color: #233155; border: none;  background: white;}
.wikibody li { font-size: 12px; line-height: 16px;}
.wikibody p { margin-top: 12px; margin-bottom: 12px }
.wikibody table { margin-top: 12px; margin-bottom: 12px }
.wikiparsefail { background: #ffaaaa }
/* the underscore on _right below makes only IE pick it up
   the problem is that with a 200px div floated right over a 100% width main div, FF thinks the right side of the
   main div is where it buts up against the float but IE thinks its at the right edge of the screen
*/
.wikibigedit { position: absolute; right: 25px; _right: 250px; top:10px; z-index: 1 }
.wikibigedit a { color: white; }
.wikibigedit a:visited { color: white; }
.wikibigedit a:hover { color:#B4C1CA;}
#wikiinfo { background:#F2F3F7; padding:3px 3px 8px;}
.wikiinfo_text { color: darkgray; }
.wikiinfo_link { text-align: right; font-style: italic; }
.wikispoterror { margin: 2px; padding: 2px; border: 1px solid red; color: red }
.wikitablecell       { padding: 3px }
.wikitableoddrow  td { background: #DDDDDD }
.wikitableoddrow  th { background: #D9E1E8; color: #233155 }
.wikitableevenrow td { background: #EEEEEE }
.wikitableevenrow th { background: #D9E1E8; color: #233155 }
.wikisidebar p { font-size: 12px; margin-bottom: 5px }
.wikisidebar form { margin-bottom: 5px }
.wikisidebar {padding:2px 7px; margin: 0 10px 20px 0; background:#fff;}
#right { padding-top: 0; margin-top: 0 }
.wikihighlight { background: #FFFF99 }
.rsslinkright { float: right; margin: 5px 10px 5px 10px }
.wikitoc { background: #EEEEEE; padding: 5px 10px 10px 10px;}
.wikitoc p { font-weight: bold; border-bottom: 1px solid black }

/* popular and home */

h2.activeusers-home { margin: 0px; padding: 4px 0 4px 8px; font-size: 110%; font-weight: bold; color: #fff; border: 0; background: #97A9B7; line-height:26px; }
h2.populartags-home { margin: 0px; padding: 4px 0 4px 8px; font-size: 110%; font-weight: bold; color: #fff; border: 0; background: #97A9B7; line-height:26px; }
h2.bookmark-home { margin:0 -8px; padding: 4px 0 4px 8px; font-size: 110%; font-weight: bold; color: #fff; border: 0; background: #97A9B7; line-height:26px; }
h2.about { margin: 15px 5px 0px 2px; padding: 0px; font-weight: bold; font-size: 13px; background: white;}
h2.bookmark { margin: 0; padding: 4px; font-size: 12px; color: #233155; border: 0; background: #D9E1E8 }
p.titlenews {margin: 2px 10px 8px 0px; padding: 4px; font-size: 12px; font-weight: bold; color: #233155; border-bottom: 2px solid #D9E0E8 }
h2.about { margin: 2px 10px 8px 0px; padding: 4px; font-size: 12px; font-weight: bold; color: #233155; border-bottom: 2px solid #D9E0E8 }
/* structural styling for programming output */

#main_less_right { margin-right: 200px }
#right { width: 200px; float: right }
.clearing { height: 0; clear: both; padding: 0; margin: 0 }

/* forms */

p.validation { color: white }
label.validation { color: white }

/* popups */

div#popupcontent { margin: 15px }

/* debugging */

.debug { background: green; color: white; padding: 2px }

/* listings - per bookmark */

a.dblink    	    { color: #97A9B7; font-weight: bold; }
a.postedby  	    { color: #233155; font-weight: bold;}
a.postedtag 	    { color: #4A6DCE; font-weight: bold; }
a.linkicons 	    { color: #4A6DCE; font-weight: bold; margin-right: 10px;}
a.editlink  	    { color: #4A6DCE;}
a.owner             { color: #233155; font-size: 10px; }
a.listofrecent      { font-weight: bold }
a.listoftags, a.listofusers, a.listofgangpeers, a.listofgangs, a.listofactivetags, a.listofactiveusers   {display: block; color: #386584; font-size:100%; margin: 5px 0 0 5px; padding-left: 5px; text-indent: -5px; line-height: 1.6em; text-decoration:none;}
a.listoftags:visited, a.listofusers:visited, a.listofgangpeers:visited, a.listofgangs:visited, a.listofactivetags:visited, a.listofactiveusers:visited   {text-decoration:none; color:#7A92A3;}
.helpicon           { border: 0px; padding: 2px; }
.journal 	    { font-style: italic }
.volume  	    { font-weight: bold }
.etal    	    { font-style: italic }
.authors 	    { color: gray }
.description        { color: #555555 }
.supplemental a     { color: #4A6FCD; font-weight: bold; }
.comment            { color: #4A6DCE }
.comment a          { color: #4A6DCE }
.commentdisplay     { margin: 9px; padding: 6px; border: 1px dashed silver }
.commentbyline      { padding-bottom: 3px }
.identifed          { padding-bottom: 8px }
.icons              { border-top: 1px solid #D9E0E8; margin: 3px 0 2px 0; padding: 3px 0 2px 3px; text-align: right }

/* listings - page */

#status       	    {text-align: center; border-top: 1px solid #D9E0E8; background:#F2F3F7; padding:6px; }
#status_left  	    { margin-right: 100px }
#status_right 	    { margin-left: 100px }

/* listings - boxes and layout (library pages, etc) */

#mybookmark-title   {background: #41637C; padding:6px; line-height:26px; font-weight:bold;}
#mybookmarkrss      { float: right; width: 230px; color: white; text-align: right }
#mybookmarktitle    {font-size:120%; color:#fff;}
.rssicon            { border: 0px; padding: 2px }
#outer-wrapper      {margin:0 1% 10px; padding:0;}
#container          { width: 100%; float: left; margin-right: -170px }
#postingcontent     { margin-right: 174px }
#main 				{margin-left:174px; background:#fff; padding:2px;}
#left 				{float:left; margin:0; width:164px;}
#sidebar 			{font-size:90%; float:right; width:164px;}
#loginbox           { width: 200px; border-top: 0; border-left: 2px solid #c03; border-right: 2px solid #c03; border-bottom: 2px solid #c03 }
div.hfeed  			{margin:0; padding:2px 0 20px; background:#fff; float:left; width:99%;}
div#fullpage-container  {margin:0; padding:2px 0 20px; background:#fff; float:left; width:99%;}
#fullpage-content {padding:0 10px 0 10px;}
#fullpage-container h1, .hfeed h1	{margin:0 2px 8px; padding:6px 10px; font-weight:normal; background: #41637C; line-height:26px; font-size:150%; color:#fff;}
h1 a {color:#fff;}
h1 a:hover {color:#B4C1CA;}



#loginaccount-box   {background:#fff; padding:2px; margin:0 0 10px 0; width:160px;}
#right #loginaccount-box {width:186px;} /* extra width for wiki right hand column */
#loginaccount-box h2 {background:#C51F33; color:#fff; font-size:120%; padding:6px; line-height:26px; margin:0;}
#loginaccount-box .login-buttons {padding:2px 8px;}
#loginaccount-box p {padding:4px 0;}
#loginaccount-box .username {color:#496674; font-size:120%; font-weight:bold; border-bottom:1px dotted #C0C4C7;}

#toolbox 			{margin:0; padding:2px; width:160px; background:#fff;}
div.helplink        { float: right; width: 30px; color: white; text-align: right }

#rhsads 			{border-top:1px solid #B9BEC1; margin:0; padding:10px 2px; width:160px; background:#fff; font-size: 100%; line-height: 1.6em; text-align: center;}

#sidebar a.reportprob		{font-size:100%; padding:0 0 0 15px; margin:5px; line-height:1.8em; color:#386584; text-decoration:none;}
#sidebar a.reportprob:hover {color:#C51F33;}

#sidetags_cabinet 	{border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_cabinet  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_group    {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sidegroups_user    {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
h3.sectiontitle     {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; min-height:26px;}
#sideusers_related  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_related h3.sectiontitle {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; line-height:26px;}

#sidetags_related  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sidetags_related h3.sectiontitle {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; line-height:26px;}
#tagfilterbox       { padding-top: 3px; clear: both }

.user               { color: #233155; font-size: 10px; margin-top: 5px; margin-left: 5px; line-height: 18px }
p.tooltype          { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 20px }
p.newssnippet       { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 15px }
p.boxtext           { padding: 4px; margin-top: 0; font-size: 11px }
.content-side       { margin: 1px 3px 1px 3px }
.tag                { color: #4A6FCD; font-size: 10px; margin-top: 5px; margin-left: 5px; line-height: 18px }
.content-mybookmark {line-height: 1.6em; padding: 3px 10px 20px; border-bottom: 20px }
#code-link { float: right; }
.title              { font-weight: bold; font-style: italic; }
.private            { color: #4A6FCD; font-weight: bold; }
.uploadcount 	    { margin-bottom: 10px; }
.uploadentry 	    { font-weight: bold;}
.buttonrow   	    { margin-bottom: 10px }
.iconscheckbox      { font-weight: bold; float: right; width: 90px; position: relative; top: -6px }
.privacyrelease     { margin-top: 5px }
img.newsimage       { border: 1px solid #000; } 
blockquote.newsquote { font-style: italic; }
.annotation         { background: white; padding: 8px }
.annotation .comment { margin: 8px 8px 3px 8px; padding: 12px; border: 1px dashed silver }
.annotation .title  { font-size: 10px; font-weight: normal; color: darkgray; margin-bottom: 3px; text-align: right; margin-right: 10px }
#geoinfo            { background: white; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;  border-bottom: 1px solid #c03 }
.geoinfo_text 	    { color: darkgray; }
.geoinfo_link 	    { text-align: right; float: right; font-style: italic }
.toggles      	    { text-align: center; }
.togglewrap   	    { padding: 4px; }
.alphatoggleborder  { border-left: 1px solid #c03;  border-bottom: 1px solid #c03; }
.usagetoggleborder  { border-right: 0px solid #c03;  border-bottom: 1px solid #c03; }
#alphatoggle 	    { width: 50%; float: right; padding: 0px;  border: none }
#usagetoggle 	    { width: 50%; float: left; padding: 0px;  border: none; }
.actionlink  	    { font-weight: bold; text-decoration: none }
#sort-and-number-bar {padding: 8px 3px 3px; text-align: right;}
.sort-label, .number-label { font-style: italic;  padding: 3px; line-height: 80%; }
#sort, #number, #sortby-buttons, #number-buttons { display: inline; }
#sort               { float: left; }
.possible_num 	    { color: #4A6DCE; padding: 3px; }
.current_num  	    { font-weight: bold; color: #4A6DCE; padding: 3px; }
.higher_num   	    { color: silver; padding: 3px; }
#freematch          {background:#F2F3F7; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; font-style: italic; }
#freematch_user, #freematch_tag, #freematch_gang { font-size: 12px; }
a.freematch_tag     { color: #4A6DCE; font-weight: bold; }
a.freematch_user    { color: #233155; font-weight: bold; }
a.freematch_gang    { color: #233155; font-weight: bold; }
#reportproblembox   {border:0; border-top:1px solid #B9BEC1; background:#fff; font-size:100%; line-height: 1.6em; margin:0; padding:6px 2px; width:160px;}


/* lists and forms */

/* ul                  { margin: 5px 0px 5px 3px; padding: 0px 5px 5px 20px }
   ul li               { list-style-type: square } */
ul.nobullet         { margin: 0px; padding: 0px;  }
ul.nobullet li      { list-style-type: none ; display: block; margin-top: 5px; margin-left: 5px; padding-left: 5px; text-indent: -5px; line-height: 18px }
ul.toolbox          {margin: 0px; padding: 0px;  }
ul.toolbox li       {list-style-type:none; display:block; font-size:100%; padding:0; margin:5px; line-height:1.8em; border-bottom:1px dotted #C0C4C7;}
ul.toolbox li a     {color:#386584; text-decoration:none;}
ul.toolbox li a:hover {color:#C51F33;}

#list li            { margin-left: 0px; padding-left: 0px; padding-top: 6px }
form                { margin-bottom: 0px }
.textctl      	    { border: 1px solid #233155; background: #fff; }
.textctlminor 	    { border: 1px solid #233155; background: #fff; }
.textareactl  	    { border: 1px solid #233155; background: #fff; }
.pulldownctl  	    { border: 1px inset; background: #FFF; height: 18px; }
.pulldownctlminor   { border: 1px inset; background: #FFF; height: 16px; }
.buttonctl          { border: 1px outset; background: #c03; color: #fff; font-weight:bold; margin-left:5px; }
.checkboxctl        { position: relative; top: 2px }
.ctlhelp            { width: 496px; border: 1px dotted silver; margin-top: 2px; padding: 2px }
#add                { border-top: 4px solid #97A9B7; padding: 3px }
#path               { font: 14px Courier New, Courier, monospace; padding: 1px 0px 1px 0px }
#sidetags  	    { width: 190px }
#sideusers 	    { width: 190px }
.note               { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weight: bold; width: 90% }
.errormsg           { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weight: bold; color: red; border: 1px solid red; background: #EEEEEE; width: 90% }
.actionmsg          { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weight: bold; color: blue; border: 1px solid blue; background: #EEEEEE; width: 90% }
.tagexample         { font-style: italic }
.warnremove         { color: red; font-weight: bold }
.aboutremove        { margin-bottom: 10px }
.arrow              { padding-bottom: 5px }

div.actualurl { font-style: italic; }

/* popular */

#content-bkmk-wrap { width: 97%; margin:0 0 0 10px;}
#bkmk { margin-right: 375px; background:#fff; padding:2px 10px;}
#bkmk-right { width: 360px; float: right;}
.clearing-bkmk { height: 0; clear: both }
#populartags-home { width:170px; float:left; background:#fff; padding:2px;}
#activeusers-home { width:170px; float:right; margin-top:0; background:#fff; padding:2px; }
p.tagsuserstype { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 20px }

/* tag cloud */

div#tag-cloud {padding:15px; text-align:justify; margin:0 10px; background:#fff;}
a.tag_cloud { font-weight: bold; text-decoration: none; line-height: 30px; margin: 0 3px 0 3px }
a.tag_cloud:hover { text-decoration: underline; color: black }
a.tag_cloud_frequency_0 { font-size: 80% }
a.tag_cloud_frequency_1 { font-size: 90% }
a.tag_cloud_frequency_2 { font-size: 100% }
a.tag_cloud_frequency_3 { font-size: 110% }
a.tag_cloud_frequency_4 { font-size: 120% }
a.tag_cloud_frequency_5 { font-size: 130% }
a.tag_cloud_frequency_6 { font-size: 160% }
a.tag_cloud_frequency_7 { font-size: 190% }
a.tag_cloud_frequency_8 { font-size: 210% }
a.tag_cloud_frequency_9 { font-size: 260% }
a.tag_cloud_frequency_10 { font-size: 300% }
a.tag_cloud_recency_0 { color: #97A9B7; }
a.tag_cloud_recency_1 { color: #9C99AA; }
a.tag_cloud_recency_2 { color: #A1889D; }
a.tag_cloud_recency_3 { color: #A67790; }
a.tag_cloud_recency_4 { color: #AC6683; }
a.tag_cloud_recency_5 { color: #B15575; }
a.tag_cloud_recency_6 { color: #B64468; }
a.tag_cloud_recency_7 { color: #BC335B; }
a.tag_cloud_recency_8 { color: #C1224E; }
a.tag_cloud_recency_9 { color: #C61141; }
a.tag_cloud_recency_10 { color: #CC0033; }

/* add form */

#tagsuggestdatacell      { vertical-align: top }
.auto-complete           { border: 1px dotted silver; padding: 0 5px 5px 5px; }
#tbox-closed             { width: 373px; }
#tbox-suggest            { width: 373px; }
.add-form-tag-suggestion { display: inline-block;
                           background-color: #D9E0E8; margin: 6px 3px 0 3px; padding: 0 6px 0 6px; text-decoration: none }
#slink-alpha 	       	 { text-align: right }
#slink-usage 	       	 { text-align: right }
.add-form-ac-results   	 { width: 350px }
.addformlabelcell      	 { vertical-align: top; white-space: nowrap; padding-top: 3px; width: 135px }
.addgroupformlabelcell 	 { vertical-align: top; white-space: nowrap; padding-top: 3px }
#descriptiondatacell   	 { vertical-align: top }
.optional    	       	 { float: left; color: #999999 }
.formhelp    	       	 { padding-left: 4px; color: grey; }
#taghelpbox  	       	 { width: 380px }
#urlbox      	       	 { width: 312px }
#urlboxupdated         	 { width: 380px }
#titlebox              	 { width: 380px }
#descriptionbox        	 { width: 380px }
#tagsbox               	 { width: 250px }
#commentbox            	 { width: 380px }

/* captcha */

#captcha { border: 1px solid silver; padding: 20px; margin: 5px 0 20px 0 }
#captchawork { margin-left: auto; margin-right: auto; width: 280px; margin-top: 8px }
#captchaimg { display: block }
#captchacodebox { width: 125px }
#captchasubmit { margin-left: 15px; margin-right: 15px }

#caddarea { margin: 12px 0 12px 0; padding: 5px 0 5px 0; border-top: 1px solid silver; border-bottom: 1px solid silver }
/* -------------------- */
/* CONNOTEA STYLE SHEET */
/* -------------------- */

/* ----------- */
/* basic stuff */
/* ----------- */
body {font-family: verdana, sans-serif; font-size: 75%;}

span.cleardiv {display:block !important; clear:both !important; padding:0 !important; margin:0 !important;}
.hidden {display: none;}
code {font-size: 130%;}
p { margin: 0 0 5px;}
p.signup {margin: 15px 0;}

/* -------- */
/* headings */
/* -------- */

h1 {font-size: 200%; margin: 0 0 10px; padding: 0;	font-family: "Trebuchet MS", sans-serif;}
h2 {font-size: 170%; margin: 10px 0 10px; padding: 0;	font-family: "Trebuchet MS", sans-serif; color: #41637b;}
div.importantsidenote {border: 1px dashed silver; margin: 8px 0; padding: 8px;}
div.importantsidenote h2 {margin-top: 0;}
div.importantsidenote h3 {margin-top: 0;}

/* ------------------ */
/* button-style links */
/* ------------------ */
a.buttonlink {font-family: "trebuchet ms", sans-serif; font-size: 150%; padding: 2px 5px; margin-top: 5px;}
a.buttonlink:link, a.buttonlink:visited {background: #c51f33; color: white; text-decoration: none;}
a.buttonlink:hover {background: #41637b; text-decoration: underline;}

/* -------------- */
/* ordinary links */
/* -------------- */
a {color: #c51f33; text-decoration:underline;}
a:visited {	color: purple; text-decoration:underline;}
a:hover {color: red; text-decoration:underline;}

/* ----------------- */
/* registration form */
/* ----------------- */

form.compform {margin: 20px 0 20px 0; padding: 0;}
fieldset {margin-bottom: 15px; padding: 10px;}
fieldset p {margin: 0 0 1em;}
fieldset legend {font-family: "trebuchet ms"; font-size: 160%; border: 1px solid #888; padding: 2px 5px; margin-bottom: 10px; background: white; color: #325a74;}
fieldset label {font-weight: bold; float: left; width: 12em;}
fieldset.haserrors{background: #c51f33;}
fieldset label.haserrors{color: white;}
fieldset p.errorlabel {color: white;}
input.submitbutton {margin-left: 9em; color: white; background: #c51f33; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 150%; border: 0;}
input.download-button {margin-right: 1em; color: white; background: #c51f33; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 150%; border: 0;}

/* ------- */
/* biglist */
/* ------- */

ol.biglist {margin: 0; padding: 0 0 0 3em;}
ol.biglist li {padding: 0; font-family: "Trebuchet MS", sans-serif; font-weight: bold; font-size: 160%; color: #41637b;}
ol.biglist li img.img-right-instructions {float: right; padding-left: 20px;}
ol.biglist li h2 {font-size: 100%; margin: 0 0 10px;padding: 0;}
ol.biglist li p {font-size: 65%; line-height: 1.4; font-weight: normal; font-family: verdana, sans-serif; color: black; margin-right: 250px;}

/* ---------- */
/* stage list */
/* ---------- */

ol.stagelist {list-style: none; margin: 10px 0; padding: 0;}
ol.stagelist img {margin: 10px 0;}
ol.stagelist li {border: 1px solid #eaeaea; margin-top: 20px; margin-bottom: 25px;}
ol.stagelist h3 {font-family: "Trebuchet MS", sans-serif; font-size: 140%; font-weight: normal; background: #f3f3f3; margin: 0;	padding: 2px 5px;}
ol.stagelist ol {padding-top: 10px; padding-bottom: 10px; list-style: lower-latin;}
ol.stagelist ol li {border: 0; font-weight: bold; margin-top: 0; margin-bottom: 5px;}
ol.stagelist ol li p {font-weight: normal;}

/* -------------------------------- */
/* list at top of bulleted document */
/* -------------------------------- */

ul.indexlist {margin: 0 0 10px; padding: 0; list-style: none;}
ul.indexlist ul {margin: 0;}
ul.indexlist li {padding: 0; margin-bottom: 5px; list-style: none;}
ul.indexlist li a:link, ul.indexlist li a:visited {color: #c51f33; text-decoration: underline;}
ul.indexlist li a:hover {color: red; text-decoration: underline;}
ul.indexlist li.noarrow {background: none;}

/* ----------------
HEADER
------------------- */

/*----------- Search Bar ----------------*/
#searchbar {position:absolute; top:0; right:0; text-align:right; margin:0; padding: 8px; background:#dddddd;}
#searchbar p {display: inline;}
#searchbar p.searchlink {margin:0 10px 0 0; padding:0; font-weight: bold;}
#searchbar form {display:inline;}

/*----------- Top Menu ----------------*/

#nav {height:40px}
#nav a {color:black}

/* ------ */
/* footer */
/* ------ */

#footer {margin-top:30px}
#footer a {color:black}

/* --------------- */
/* se landing page */
/* --------------- */

#se-landing {padding:0px; background:#F2F3F7; padding:5px; height:14em; margin:0 0 2px 0;}
#se-landing .se-title {font-size:160%;	font-family: verdana, sans-serif; font-weight: bold;color:#c51f33; margin-bottom:20px;}
#se-landing .subtitle {font-size:140%;	font-family: verdana, sans-serif; font-weight: bold;}
#se-landing .left {width:48%; float:left;}
#se-landing .right {width:48%; float:right;}
#se-landing .right .se-subhead {font-weight:bold; font-size:120%;}
#se-landing .right ul li {margin-bottom:5px;}

div#service_readonly {
  text-align: center;
  padding: 3px;
  background: #EEEEEE;
}

/* openid */

input#openid { background: url(openid-small.png) no-repeat; background-color: white; background-position: 0px 1px; padding-left: 24px; }
