<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% main_title %]</title>
[% rss_link %]
[% css_link %]
[% component_javascript_block_if_needed %]
</head>
<body[% component_javascript_onload_if_needed %]>
  <div style="float: right; text-align: right">
  [% IF user %]
  <div class="loggedinas">
    <p>Logged in as <em>[% user.username %]</em></p>
  </div>
  <div class="login-buttons">
    <p class="divider"><a href="[% location %]library" class="mylibrary" target="_blank">My library</a></p>
    <p><a href="[% location %]logout" class="log" target="_blank">Log out</a></p>
  </div>
  [% ELSE %]
  <div class="login-buttons noleftborder">
    <p class="divider"><a href="[% location %]register" class="signup" target="_blank">Sign up</a></p>
    <p><a href="[% location %]login" class="log" target="_blank">Log in</a></p>
  </div>				
  [% END %]
</div>

<span class="cleardiv"><!-- clear --></span>

<div id="content">
[% content %]
</div>

[% INCLUDE footer.tt %]

</body>
</html>
