/* structural styling for programming output */

#main_less_right { margin-right: 200px }
#right { width: 200px; float: right }
.clearing { height: 0; clear: both; padding: 0; margin: 0 }

/* forms */

p.validation { color: white }
label.validation { color: white }

/* popups */

div#popupcontent { margin: 15px }

/* debugging */

.debug { background: green; color: white; padding: 2px }

/* listings - per bookmark */

a.dblink    	    { color: #97A9B7; font-weight: bold; }
a.postedby  	    { color: #233155; font-weight: bold;}
a.postedtag 	    { color: #4A6DCE; font-weight: bold; }
a.linkicons 	    { color: #4A6DCE; font-weight: bold; margin-right: 10px;}
a.editlink  	    { color: #4A6DCE;}
a.owner             { color: #233155; font-size: 10px; }
a.listofrecent      { font-weight: bold }
a.listoftags, a.listofusers, a.listofgangpeers, a.listofgangs, a.listofactivetags, a.listofactiveusers   {display: block; color: #386584; font-size:100%; margin: 5px 0 0 5px; padding-left: 5px; text-indent: -5px; line-height: 1.6em; text-decoration:none;}
a.listoftags:visted, a.listofusers:visted, a.listofgangpeers:visted, a.listofgangs:visted, a.listofactivetags:visted, a.listofactiveusers:visted   {text-decoration:none; color:#7A92A3;}
.helpicon           { border: 0px; padding: 2px; }
.journal 	    { font-style: italic }
.volume  	    { font-weight: bold }
.etal    	    { font-style: italic }
.authors 	    { color: gray }
.description        { color: #555555 }
.supplemental a     { color: #4A6FCD; font-weight: bold; }
.comment            { color: #4A6DCE }
.comment a          { color: #4A6DCE }
.commentdisplay     { margin: 9px; padding: 6px; border: 1px dashed silver }
.commentbyline      { padding-bottom: 3px }
.identifed          { padding-bottom: 8px }
.icons              { border-top: 1px solid #D9E0E8; margin: 3px 0 2px 0; padding: 3px 0 2px 3px; text-align: right }

/* listings - page */

#status       	    {text-align: center; border-top: 1px solid #D9E0E8; background:#F2F3F7; padding:6px; }
#status_left  	    { margin-right: 100px }
#status_right 	    { margin-left: 100px }

/* listings - boxes and layout (library pages, etc) */

#mybookmark-title   {background: #41637C; padding:6px; line-height:26px; font-weight:bold;}
#mybookmarkrss      { float: right; width: 230px; color: white; text-align: right }
#mybookmarktitle    {font-size:120%; color:#fff;}
.rssicon            { border: 0px; padding: 2px }
#outer-wrapper      {margin:0 1% 10px; padding:0;}
#container          { width: 100%; float: left; margin-right: -170px }
#postingcontent     { margin-right: 174px }
#main 				{margin-left:174px; background:#fff; padding:2px;}
#left 				{float:left; margin:0; width:164px;}
#sidebar 			{font-size:90%; float:right; width:164px;}
#loginbox           { width: 200px; border-top: 0; border-left: 2px solid #c03; border-right: 2px solid #c03; border-bottom: 2px solid #c03 }
div.hfeed  			{margin:0; padding:2px 0 20px; background:#fff; float:left; width:99%;}
div#fullpage-container  {margin:0; padding:2px 0 20px; background:#fff; float:left; width:99%;}
#fullpage-content {padding:0 10px 0 10px;}
#fullpage-container h1, .hfeed h1	{margin:0 2px 8px; padding:6px 10px; font-weight:normal; background: #41637C; line-height:26px; font-size:150%; color:#fff;}
h1 a {color:#fff;}
h1 a:hover {color:#B4C1CA;}



#loginaccount-box   {background:#fff; padding:2px; margin:0 0 10px 0; width:160px;}
#right #loginaccount-box {width:186px;} /* extra width for wiki right hand column */
#loginaccount-box h2 {background:#C51F33; color:#fff; font-size:120%; padding:6px; line-height:26px; margin:0;}
#loginaccount-box .login-buttons {padding:2px 8px;}
#loginaccount-box p {padding:4px 0;}
#loginaccount-box .username {color:#496674; font-size:120%; font-weight:bold; border-bottom:1px dotted #C0C4C7;}

#toolbox 			{margin:0; padding:2px; width:160px; background:#fff;}
div.helplink        { float: right; width: 30px; color: white; text-align: right }

#rhsads 			{border-top:1px solid #B9BEC1; margin:0; padding:10px 2px; width:160px; background:#fff; font-size: 100%; line-height: 1.6em; text-align: center;}

#sidebar a.reportprob		{font-size:100%; padding:0 0 0 15px; margin:5px; line-height:1.8em; color:#386584; text-decoration:none;}
#sidebar a.reportprob:hover {color:#C51F33;}

#sidetags_cabinet 	{border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_cabinet  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_group    {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sidegroups_user    {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
h3.sectiontitle     {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; min-height:26px;}
#sideusers_related  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sideusers_related h3.sectiontitle {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; line-height:26px;}

#sidetags_related  {border:0; margin:0 0 10px 0; padding:2px 2px 10px; width:160px; background:#fff;}
#sidetags_related h3.sectiontitle {margin: 0; padding:6px;  font-weight:bold; border: 0; background:#B4C1CA; color:#486273; font-size:110%; line-height:26px;}
#tagfilterbox       { padding-top: 3px; clear: both }

.user               { color: #233155; font-size: 10px; margin-top: 5px; margin-left: 5px; line-height: 18px }
p.tooltype          { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 20px }
p.newssnippet       { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 15px }
p.boxtext           { padding: 4px; margin-top: 0; font-size: 11px }
.content-side       { margin: 1px 3px 1px 3px }
.tag                { color: #4A6FCD; font-size: 10px; margin-top: 5px; margin-left: 5px; line-height: 18px }
.content-mybookmark {line-height: 1.6em; padding: 3px 10px 20px; border-bottom: 20px }
#code-link { float: right; }
.title              { font-weight: bold; font-style: italic; }
.private            { color: #4A6FCD; font-weight: bold; }
.uploadcount 	    { margin-bottom: 10px; }
.uploadentry 	    { font-weight: bold;}
.buttonrow   	    { margin-bottom: 10px }
.iconscheckbox      { font-weight: bold; float: right; width: 90px; position: relative; top: -6px }
.privacyrelease     { margin-top: 5px }
img.newsimage       { border: 1px solid #000; } 
blockquote.newsquote { font-style: italic; }
.annotation         { background: white; padding: 8px }
.annotation .comment { margin: 8px 8px 3px 8px; padding: 12px; border: 1px dashed silver }
.annotation .title  { font-size: 10px; font-weight: normal; color: darkgray; margin-bottom: 3px; text-align: right; margin-right: 10px }
#geoinfo            { background: white; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;  border-bottom: 1px solid #c03 }
.geoinfo_text 	    { color: darkgray; }
.geoinfo_link 	    { text-align: right; float: right; font-style: italic }
.toggles      	    { text-align: center; }
.togglewrap   	    { padding: 4px; }
.alphatoggleborder  { border-left: 1px solid #c03;  border-bottom: 1px solid #c03; }
.usagetoggleborder  { border-right: 0px solid #c03;  border-bottom: 1px solid #c03; }
#alphatoggle 	    { width: 50%; float: right; padding: 0px;  border: none }
#usagetoggle 	    { width: 50%; float: left; padding: 0px;  border: none; }
.actionlink  	    { font-weight: bold; text-decoration: none }
#sort-and-number-bar {padding: 8px 3px 3px; text-align: right;}
.sort-label, .number-label { font-style: italic;  padding: 3px; line-height: 80%; }
#sort, #number, #sortby-buttons, #number-buttons { display: inline; }
#sort               { float: left; }
.possible_num 	    { color: #4A6DCE; padding: 3px; }
.current_num  	    { font-weight: bold; color: #4A6DCE; padding: 3px; }
.higher_num   	    { color: silver; padding: 3px; }
#freematch          {background:#F2F3F7; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; font-style: italic; }
#freematch_user, #freematch_tag, #freematch_gang { font-size: 12px; }
a.freematch_tag     { color: #4A6DCE; font-weight: bold; }
a.freematch_user    { color: #233155; font-weight: bold; }
a.freematch_gang    { color: #233155; font-weight: bold; }
#reportproblembox   {border:0; border-top:1px solid #B9BEC1; background:#fff; font-size:100%; line-height: 1.6em; margin:0; padding:6px 2px; width:160px;}


/* lists and forms */

/* ul                  { margin: 5px 0px 5px 3px; padding: 0px 5px 5px 20px }
   ul li               { list-style-type: square } */
ul.nobullet         { margin: 0px; padding: 0px;  }
ul.nobullet li      { list-style-type: none ; display: block; margin-top: 5px; margin-left: 5px; padding-left: 5px; text-indent: -5px; line-height: 18px }
ul.toolbox          {margin: 0px; padding: 0px;  }
ul.toolbox li       {list-style-type:none; display:block; font-size:100%; padding:0; margin:5px; line-height:1.8em; border-bottom:1px dotted #C0C4C7;}
ul.toolbox li a     {color:#386584; text-decoration:none;}
ul.toolbox li a:hover {color:#C51F33;}

#list li            { margin-left: 0px; padding-left: 0px; padding-top: 6px }
form                { margin-bottom: 0px }
.textctl      	    { border: 1px solid #233155; background: #fff; }
.textctlminor 	    { border: 1px solid #233155; background: #fff; }
.textareactl  	    { border: 1px solid #233155; background: #fff; }
.pulldownctl  	    { border: 1px inset; background: #FFF; height: 18px; }
.pulldownctlminor   { border: 1px inset; background: #FFF; height: 16px; }
.buttonctl          { border: 1px outset; background: #c03; color: #fff; font-weight:bold; margin-left:5px; }
.checkboxctl        { position: relative; top: 2px }
.ctlhelp            { width: 496px; border: 1px dotted silver; margin-top: 2px; padding: 2px }
#add                { border-top: 4px solid #97A9B7; padding: 3px }
#path               { font: 14px Courier New, Courier, monospace; padding: 1px 0px 1px 0px }
#sidetags  	    { width: 190px }
#sideusers 	    { width: 190px }
.note               { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weight: bold; width: 90% }
.errormsg           { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weight: bold; color: red; border: 1px solid red; background: #EEEEEE; width: 90% }
.actionmsg          { margin: 8px 0px 8px 0px; padding: 6px; font-size: 13px; font-weigth: bold; color: blue; border: 1px solid blue; background: #EEEEEE; width: 90% }
.tagexample         { font-style: italic }
.warnremove         { color: red; font-weight: bold }
.aboutremove        { margin-bottom: 10px }
.arrow              { padding-bottom: 5px }

div.actualurl { font-style: italic; }

/* popular */

#content-bkmk-wrap { width: 97%; margin:0 0 0 10px;}
#bkmk { margin-right: 375px; background:#fff; padding:2px 10px;}
#bkmk-right { width: 360px; float: right;}
.clearing-bkmk { height: 0; clear: both }
#populartags-home { width:170px; float:left; background:#fff; padding:2px;}
#activeusers-home { width:170px; float:right; margin-top:0; background:#fff; padding:2px; }
p.tagsuserstype { margin: 5px 0 5px 5px; padding: 5px 0 2px 0; line-height: 20px }

/* tag cloud */

div#tag-cloud {padding:15px; text-align:justify; margin:0 10px; background:#fff;}
a.tag_cloud { font-weight: bold; text-decoration: none; line-height: 30px; margin: 0 3px 0 3px }
a.tag_cloud:hover { text-decoration: underline; color: black }
a.tag_cloud_frequency_0 { font-size: 80% }
a.tag_cloud_frequency_1 { font-size: 90% }
a.tag_cloud_frequency_2 { font-size: 100% }
a.tag_cloud_frequency_3 { font-size: 110% }
a.tag_cloud_frequency_4 { font-size: 120% }
a.tag_cloud_frequency_5 { font-size: 130% }
a.tag_cloud_frequency_6 { font-size: 160% }
a.tag_cloud_frequency_7 { font-size: 190% }
a.tag_cloud_frequency_8 { font-size: 210% }
a.tag_cloud_frequency_9 { font-size: 260% }
a.tag_cloud_frequency_10 { font-size: 300% }
a.tag_cloud_recency_0 { color: #97A9B7; }
a.tag_cloud_recency_1 { color: #9C99AA; }
a.tag_cloud_recency_2 { color: #A1889D; }
a.tag_cloud_recency_3 { color: #A67790; }
a.tag_cloud_recency_4 { color: #AC6683; }
a.tag_cloud_recency_5 { color: #B15575; }
a.tag_cloud_recency_6 { color: #B64468; }
a.tag_cloud_recency_7 { color: #BC335B; }
a.tag_cloud_recency_8 { color: #C1224E; }
a.tag_cloud_recency_9 { color: #C61141; }
a.tag_cloud_recency_10 { color: #CC0033; }

/* add form */

#tagsuggestdatacell      { vertical-align: top }
.auto-complete           { border: 1px dotted silver; padding: 0 5px 5px 5px; }
#tbox-closed             { width: 373px; }
#tbox-suggest            { width: 373px; }
.add-form-tag-suggestion { display: inline-block;
                           background-color: #D9E0E8; margin: 6px 3px 0 3px; padding: 0 6px 0 6px; text-decoration: none }
#slink-alpha 	       	 { text-align: right }
#slink-usage 	       	 { text-align: right }
.add-form-ac-results   	 { width: 350px }
.addformlabelcell      	 { vertical-align: top; white-space: nowrap; padding-top: 3px; width: 135px }
.addgroupformlabelcell 	 { vertical-align: top; white-space: nowrap; padding-top: 3px }
#descriptiondatacell   	 { vertical-align: top }
.optional    	       	 { float: left; color: #999999 }
.formhelp    	       	 { padding-left: 4px; color: grey; }
#taghelpbox  	       	 { width: 380px }
#urlbox      	       	 { width: 312px }
#urlboxupdated         	 { width: 380px }
#titlebox              	 { width: 380px }
#descriptionbox        	 { width: 380px }
#tagsbox               	 { width: 250px }
#commentbox            	 { width: 380px }

/* captcha */

#captcha { border: 1px solid silver; padding: 20px; margin: 5px 0 20px 0 }
#captchawork { margin-left: auto; margin-right: auto; width: 280px; margin-top: 8px }
#captchaimg { display: block }
#captchacodebox { width: 125px }
#captchasubmit { margin-left: 15px; margin-right: 15px }

#caddarea { margin: 12px 0 12px 0; padding: 5px 0 5px 0; border-top: 1px solid silver; border-bottom: 1px solid silver }
